/.vs
/MasjidOnline.Business/MasjidOnline.Business.AuthorizationBusiness/bin
/MasjidOnline.Business/MasjidOnline.Business.AuthorizationBusiness/obj
/MasjidOnline.Business/MasjidOnline.Business.AuthorizationBusiness.Interface/bin
/MasjidOnline.Business/MasjidOnline.Business.AuthorizationBusiness.Interface/obj
/MasjidOnline.Business/MasjidOnline.Business.Captcha/bin
/MasjidOnline.Business/MasjidOnline.Business.Captcha/obj
/MasjidOnline.Business/MasjidOnline.Business.Captcha.Interface/bin
/MasjidOnline.Business/MasjidOnline.Business.Captcha.Interface/obj
/MasjidOnline.Business/MasjidOnline.Business.Infaq/bin
/MasjidOnline.Business/MasjidOnline.Business.Infaq/obj
/MasjidOnline.Business/MasjidOnline.Business.Infaq.Interface/bin
/MasjidOnline.Business/MasjidOnline.Business.Infaq.Interface/obj
/MasjidOnline.Business/MasjidOnline.Business.Interface/bin
/MasjidOnline.Business/MasjidOnline.Business.Interface/obj
/MasjidOnline.Business/MasjidOnline.Business.Payment.Interface/bin
/MasjidOnline.Business/MasjidOnline.Business.Payment.Interface/obj
/MasjidOnline.Business/MasjidOnline.Business.Session/bin
/MasjidOnline.Business/MasjidOnline.Business.Session/obj
/MasjidOnline.Business/MasjidOnline.Business.Session.Interface/bin
/MasjidOnline.Business/MasjidOnline.Business.Session.Interface/obj
/MasjidOnline.Business/MasjidOnline.Business.Transaction/bin
/MasjidOnline.Business/MasjidOnline.Business.Transaction/obj
/MasjidOnline.Business/MasjidOnline.Business.Transaction.Interface/bin
/MasjidOnline.Business/MasjidOnline.Business.Transaction.Interface/obj
/MasjidOnline.Business/MasjidOnline.Business.User/bin
/MasjidOnline.Business/MasjidOnline.Business.User/obj
/MasjidOnline.Business/MasjidOnline.Business.User.Interface/bin
/MasjidOnline.Business/MasjidOnline.Business.User.Interface/obj
/MasjidOnline.Data/MasjidOnline.Data/bin
/MasjidOnline.Data/MasjidOnline.Data/obj
/MasjidOnline.Data/MasjidOnline.Data.Interface/bin
/MasjidOnline.Data/MasjidOnline.Data.Interface/obj
/MasjidOnline.Data/MasjidOnline.Data.EntityFramework/bin
/MasjidOnline.Data/MasjidOnline.Data.EntityFramework/obj
/MasjidOnline.Data/MasjidOnline.Data.EntityFramework.SqLite/bin
/MasjidOnline.Data/MasjidOnline.Data.EntityFramework.SqLite/obj
/MasjidOnline.Service/MasjidOnline.Service.Captcha/bin
/MasjidOnline.Service/MasjidOnline.Service.Captcha/obj
/MasjidOnline.Service/MasjidOnline.Service.Captcha.Interface/bin
/MasjidOnline.Service/MasjidOnline.Service.Captcha.Interface/obj
/MasjidOnline.Service/MasjidOnline.Service.Captcha.ReCaptcha/bin
/MasjidOnline.Service/MasjidOnline.Service.Captcha.ReCaptcha/obj
/MasjidOnline.Service/MasjidOnline.Service.Cryptography/bin
/MasjidOnline.Service/MasjidOnline.Service.Cryptography/obj
/MasjidOnline.Service/MasjidOnline.Service.Cryptography.Interface/bin
/MasjidOnline.Service/MasjidOnline.Service.Cryptography.Interface/obj
/MasjidOnline.Service/MasjidOnline.Service.FieldValidator/bin
/MasjidOnline.Service/MasjidOnline.Service.FieldValidator/obj
/MasjidOnline.Service/MasjidOnline.Service.FieldValidator.Interface/bin
/MasjidOnline.Service/MasjidOnline.Service.FieldValidator.Interface/obj
/MasjidOnline.Service/MasjidOnline.Service.Hash/bin
/MasjidOnline.Service/MasjidOnline.Service.Hash/obj
/MasjidOnline.Service/MasjidOnline.Service.Hash.Interface/bin
/MasjidOnline.Service/MasjidOnline.Service.Hash.Interface/obj
/MasjidOnline.Service/MasjidOnline.Service.Mail.Interface/bin
/MasjidOnline.Service/MasjidOnline.Service.Mail.Interface/obj
/MasjidOnline.Service/MasjidOnline.Service.Mail.MailKit/bin
/MasjidOnline.Service/MasjidOnline.Service.Mail.MailKit/obj
/MasjidOnline.Entity/bin
/MasjidOnline.Entity/obj
/MasjidOnline.Library/bin
/MasjidOnline.Library/obj
/MasjidOnline.Api.Web/bin
/MasjidOnline.Api.Web/obj
/MasjidOnline.Api.Web/appsettings.Local.json
/MasjidOnline.Api.Web/MasjidOnline.Api.Web.csproj.user
